body {
    background-color: #fffdfe;
    margin: auto 40px  auto 90px;
    padding: 0;
    background:azure;

}

.container{
    display: flex;
    height: auto;
    width: 100%;
}


.title{
    display: flex;
    margin: 10px 35px;
}
.form{
    margin: 12px 2px;
    border: 2px;
}


.color-bg{
    display: inline;
    margin-bottom: 30px;
    padding-bottom:120px;
    padding-right: 5px;
    
}

.text-colors{
    display: block;
    margin-top: 40px;
    padding-bottom: 150px;
    
    
}
