.light-color-picker,
.light-color-picker * {
  box-sizing: border-box;
}
.light-color-picker {
  background: #fffdfe;
  height: 550px;
  position: relative;
  overflow: hidden;
}
.colors {
  position: absolute;
  inset: 0;
}
.rectangle-106 {
  background: #f55a5a;
  width: 110px;
  height: 550px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.rectangle-107 {
  background: #2b283a;
  width: 110px;
  height: 550px;
  position: absolute;
  left: 110px;
  top: 0px;
}
.rectangle-108 {
  background: #fbf3ab;
  width: 110px;
  height: 550px;
  position: absolute;
  left: 220px;
  top: 0px;
}
.rectangle-109 {
  background: #aad1b6;
  width: 110px;
  height: 550px;
  position: absolute;
  left: 330px;
  top: 0px;
}
.rectangle-110 {
  background: #a626d3;
  width: 110px;
  height: 550px;
  position: absolute;
  left: 440px;
  top: 0px;
}
.main {
  position: absolute;
  inset: 0;
}
.rectangle-111 {
  background: #ffffff;
  width: 550px;
  height: 90px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.15);
}
.select-menu-trigger {
  background: var(--white, #ffffff);
  border-radius: 6px;
  border-style: solid;
  border-color: var(--gray-300, #d1d5db);
  border-width: 1px;
  padding: 9px 13px 9px 13px;
  width: 312px;
  height: 42px;
  position: absolute;
  left: 87px;
  top: 23px;
  box-shadow: var(--shadow-sm-box-shadow, 0px 1px 2px 0px rgba(0, 0, 0, 0.05));
  overflow: hidden;
}
.text {
  color: var(--gray-900, #111827);
  text-align: left;
  font-family: var(
    --text-base-leading-6-font-normal-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--text-base-leading-6-font-normal-font-size, 16px);
  line-height: var(--text-base-leading-6-font-normal-line-height, 24px);
  font-weight: var(--text-base-leading-6-font-normal-font-weight, 400);
  position: absolute;
  left: 13px;
  top: 9px;
  width: 262px;
}
.icon {
  width: 4.49%;
  height: 16.67%;
  position: absolute;
  right: 5.13%;
  left: 90.38%;
  bottom: 40.48%;
  top: 42.86%;
  overflow: visible;
}
.color-picker {
  position: absolute;
  inset: 0;
}
.eye-dropper {
  background: #e5e5e5;
  border-style: solid;
  border-color: #d1d5db;
  border-width: 0.5px;
  padding: 7px 11px 7px 11px;
  width: 61px;
  height: 42px;
  position: absolute;
  left: 14px;
  top: 23px;
  overflow: hidden;
}
.eye-dropper2 {
  background: #f55a5a;
  border-style: solid;
  border-color: #313131;
  border-width: 0.5px;
  padding: 7px 11px 7px 11px;
  width: 51px;
  height: 34px;
  position: absolute;
  left: 19px;
  top: 27px;
  overflow: hidden;
}
.get-button {
  background: var(--white, #ffffff);
  border-radius: 4px;
  border-style: solid;
  border-color: var(--gray-300, #d1d5db);
  border-width: 1px;
  padding: 7px 11px 7px 11px;
  width: 123px;
  height: 42px;
  position: absolute;
  left: 412px;
  top: 23px;
  box-shadow: var(--shadow-sm-box-shadow, 0px 1px 2px 0px rgba(0, 0, 0, 0.05));
  overflow: hidden;
}
.text2 {
  color: var(--gray-700, #374151);
  text-align: left;
  font-family: var(
    --text-xs-leading-4-font-medium-font-family,
    "Inter-Medium",
    sans-serif
  );
  font-size: var(--text-xs-leading-4-font-medium-font-size, 12px);
  line-height: var(--text-xs-leading-4-font-medium-line-height, 16px);
  font-weight: var(--text-xs-leading-4-font-medium-font-weight, 500);
  position: absolute;
  left: 11px;
  top: 13px;
}
.hex-footer {
  position: absolute;
  inset: 0;
}
.rectangle-113 {
  background: #ffffff;
  width: 550px;
  height: 46px;
  position: absolute;
  left: 0px;
  top: 504px;
  box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.15);
}
.f-55-a-5-a {
  color: #2b283a;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 12px;
  line-height: 24px;
  font-weight: 500;
  position: absolute;
  left: 28px;
  top: 515px;
}
._2-b-283-a {
  color: #2b283a;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 12px;
  line-height: 24px;
  font-weight: 500;
  position: absolute;
  left: 138px;
  top: 515px;
}
.fbf-3-ab {
  color: #2b283a;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 12px;
  line-height: 24px;
  font-weight: 500;
  position: absolute;
  left: 248px;
  top: 515px;
}
.aad-1-b-6 {
  color: #2b283a;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 12px;
  line-height: 24px;
  font-weight: 500;
  position: absolute;
  left: 358px;
  top: 515px;
}
.a-626-d-3 {
  color: #2b283a;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 12px;
  line-height: 24px;
  font-weight: 500;
  position: absolute;
  left: 467px;
  top: 515px;
}